# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv
venv/

# Environment variables
.env

# Logs
*.log

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PyArrow files
venv/lib/python3.12/site-packages/pyarrow/
